# -FrontPage-

Options ExecCGI None

<Limit GET POST>
order deny,allow
deny from all
allow from all
require group administrators
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthType Passthrough
AuthName www.customhistoric.com
AuthUserFile /home/laurie/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/laurie/public_html/_vti_pvt/service.grp
