# -FrontPage-

Options ExecCGI None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName www.customhistoric.com
AuthUserFile /home/laurie/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/laurie/public_html/_vti_pvt/service.grp
